<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col>
              <h2 class="text-center">AQI Prediction App</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>Single Prediction</v-card-title>
            <v-card-text>
              <v-form @submit.prevent="predictSingle">
                <v-text-field v-model="input.NO2" label="NO2"></v-text-field>
                <v-text-field v-model="input.PM2_5" label="PM2.5"></v-text-field>
                <v-text-field v-model="input.O3" label="O3"></v-text-field>
                <v-text-field v-model="input.Day" label="Day" type="number" :min="1" :max="(input.Month === 2) ? 18 : 31"></v-text-field>
                <v-text-field v-model="input.Month" label="Month" type="number" :min="1" :max="12"></v-text-field>
                <v-text-field v-model="input.DayOfWeek" label="DayOfWeek" type="number" :min="1" :max="7"></v-text-field>
                <v-btn type="submit" color="primary" :disabled="isSinglePredictionButtonDisabled">Predict</v-btn>
                <v-btn @click="resetSinglePrediction" color="primary" :disabled="!prediction">Clear Prediction</v-btn>
              </v-form>
              <v-alert v-if="prediction" type="success">{{ `Prediction: ${prediction}` }}</v-alert>
              <v-alert v-if="error" type="error">{{ `Error: ${error}` }}</v-alert>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col>
          <v-card>
            <v-card-title>Batch Prediction</v-card-title>
            <v-card-text>
              <v-form @submit.prevent="predictBatch">
                <v-row v-for="(instance, index) in batchInput" :key="index">
                  <v-col v-for="(value, key) in instance" :key="key">
                    <v-text-field v-model="instance[key]" :label="`Instance ${index + 1} - ${key}`" :type="key === 'Day' && instance.Month === 2 ? 'number' : 'text'" :min="key === 'Day' && instance.Month === 2 ? 1 : null" :max="key === 'Day' && instance.Month === 2 ? 18 : null"></v-text-field>
                  </v-col>
                </v-row>
                <v-btn @click="addInstance" color="primary">Add Instance</v-btn>
                <v-btn type="submit" color="primary" :disabled="isBatchPredictionButtonDisabled">Predict Batch</v-btn>
                <v-btn @click="resetBatchPrediction" color="primary" :disabled="!batchPredictions.length">Clear Prediction</v-btn>
              </v-form>
              <v-alert v-if="batchPredictions.length" type="success">{{ `Predictions: ${batchPredictions.join(', ')}` }}</v-alert>
              <v-alert v-if="batchError" type="error">{{ `Error: ${batchError}` }}</v-alert>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      input: {
        NO2: 0,
        PM2_5: 0,
        O3: 0,
        Day: 0,
        Month: 0,
        DayOfWeek: 0,
      },
      prediction: null,
      error: null,
      batchInput: [
        { NO2: 0, PM2_5: 0, O3: 0, Day: 0, Month: 0, DayOfWeek: 0 },
      ],
      batchPredictions: [],
      batchError: null,
    };
  },
  computed: {
    isSinglePredictionButtonDisabled() {
      return Object.values(this.input).every(value => value === 0) ||
        this.input.Day < 1 || this.input.Day > ((this.input.Month === 2) ? 18 : 31) ||
        this.input.Month < 1 || this.input.Month > 12 ||
        this.input.DayOfWeek < 1 || this.input.DayOfWeek > 7;
    },
    isBatchPredictionButtonDisabled() {
      return this.batchInput.every(instance =>
        Object.values(instance).every(value => value === 0) ||
        instance.Day < 1 || instance.Day > ((instance.Month === 2) ? 18 : 31) ||
        instance.Month < 1 || instance.Month > 12 ||
        instance.DayOfWeek < 1 || instance.DayOfWeek > 7
      );
    },
  },
  methods: {
    async predictSingle() {
      try {
        const response = await fetch('https://aqi-prediction-api.onrender.com/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.input),
        });
        const data = await response.json();
        this.prediction = data.prediction;
        this.error = null;
      } catch (error) {
        this.error = 'Error making prediction.';
        this.prediction = null;
      }
    },
    async predictBatch() {
      try {
        const nonEmptyInstances = this.batchInput.filter(instance =>
          Object.values(instance).some(value => value !== 0)
        );

        const response = await fetch('https://aqi-prediction-api.onrender.com/predict_batch', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ instances: nonEmptyInstances }),
        });
        const data = await response.json();
        this.batchPredictions = data.predictions;
        this.batchError = null;
      } catch (error) {
        this.batchError = 'Error making batch prediction.';
        this.batchPredictions = [];
      }
    },
    addInstance() {
      this.batchInput.push({ NO2: 0, PM2_5: 0, O3: 0, Day: 0, Month: 0, DayOfWeek: 0 });
    },
    resetSinglePrediction() {
      this.input = { NO2: 0, PM2_5: 0, O3: 0, Day: 0, Month: 0, DayOfWeek: 0 };
      this.prediction = null;
      this.error = null;
    },
    resetBatchPrediction() {
      this.batchInput = [{ NO2: 0, PM2_5: 0, O3: 0, Day: 0, Month: 0, DayOfWeek: 0 }];
      this.batchPredictions = [];
      this.batchError = null;
    },
  },
};
</script>
